body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
}

/* navbar */
.navbar .navbar-collapse {
  letter-spacing: 0;
  font-weight: 400;
}
.navbar .navbar-nav>li>a {
  color: rgba(0,0,0,.44);
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
  border-color: transparent;
}
.app-navbar {
  position: fixed;
  border-color: transparent;
}

/* block */
.block-defaut .block-title {
  color: rgba(0,0,0,.8);
  font-weight: 400;
}
.block-default .text-muted {
  color: rgba(0,0,0,.6);
  font-weight: 300;
}
.block a {
  text-decoration: none;
  color: #00ab6b;
}
.block-inverse {
  background-color: #1E1E1E;
}
.block-inverse .block-title {
  font-weight: 400;
}
.block-inverse .text-muted {
  font-weight: 300;
}

/* block-gray */
.block-gray {
  background-color: #f7f7f7;
}

/* button */
.btn-success-outline{
  border-color: #00ab6b;
}
.btn-success-outline:hover {
  color: #009966;
  background-color: white;
  border-color: #009966;
}

/* featured-list */
.featured-list-bordered .featured-list-icon {
  color: #00ab6b;
  width: 70px;
  height: 70px;
  line-height: 79px;
  border: 1px solid #00ab6b;
}
.featured-list h4, .os-col h4 {
  font-size: 17px;
  margin-top: 20px;
}
.feature-highlights .featured-list li {
  padding-left: 0;
}
.feature-highlights .featured-list-bordered .featured-list-icon {
  position: static;
}

/* os row */
.os-row .os-col {
  width: 20%;
  display: inline-block;
  float: left;
  padding: 0 10px;
}
.os-col img {
  width: 70px;
  height: 70px;
}

/* app-price-plans */
.app-price-plans .list-bordered li {
  border-top: none;
}
.app-price-plans .list-bordered li:last-child {
  border-bottom: none;
}
.app-price-plans {
  background-color: #f7f7f7;
}

/* timeline */
.timeline dl dd .circ {
  background-color: #00ab6b;
}
.timeline dl dd .time {
  color: #00ab6b;
}
.timeline dl dt {
  background-color: #CCCCCC;
}
